@page "/transfer-projects/{projectId}/tasks/handover/edit"
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.Transfer.Tasks.HandoverWithDeliveryOfficer.EditHandoverWithDeliveryOfficerTaskModel
@{
    var backlink = string.Format(RouteConstants.TransferViewHandoverWithDeliveryOfficerTask, Model.ProjectId);

    var reviewProjectInformationHint = @"
        <details data-module=""govuk-details"" class=""govuk-details"">
            <summary class=""govuk-details__summary"">
                <span class=""govuk-details__summary-text"">What to check for</span>
            </summary>
            <div class=""govuk-details__text"">
                <p>Things to check during your background research include:</p>
                <ul>
                    <li>project information, such as advisory board conditions</li>
                    <li>advisory board template, for more information about the project</li>
                    <li>trust websites for more information about the outgoing and incoming trusts</li>
                    <li>the age of the incoming trust's model documents and whether they need to be updated</li>
                 </ul>
             </div>
         </details>";

    var makeNotesHint = @"
        <details data-module=""govuk-details"" class=""govuk-details"">
            <summary class=""govuk-details__summary"">
                <span class=""govuk-details__summary-text"">What to check for</span>
            </summary>
            <div class=""govuk-details__text"">
                <p>Note down things you want to ask and talk about with the regional delivery officer at the handover meeting.</p>
                <p>This is an opportunity to clarify anything that you're unsure about after reviewing the project and doing your background research.</p>
            </div>
        </details>";
}
@section BeforeMain {
    <a href=@backlink class="govuk-back-link">Back</a>
}

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
    Handover with regional delivery officer
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <govuk-checkbox-input label="Not applicable"
                                  asp-for="@Model.NotApplicable"
                                  name="not-applicable"
                                  id="not-applicable" add-margin=false />

            <govuk-checkbox-input label="Review the project information and carry out research"
                                  asp-for="@Model.ReviewProjectInformation"
                                  name="review-project-information"
                                  id="transfer_task_handover_task_form_review"
                                  hint="@reviewProjectInformationHint"
                                  add-margin=false />

            <govuk-checkbox-input label="Make notes and write questions to ask the regional delivery officer"
                                  asp-for="@Model.MakeNotes"
                                  name="make-notes"
                                  id="transfer_task_handover_task_form_notes"
                                  hint="@makeNotesHint"
                                  add-margin=false />

            <govuk-checkbox-input label="Attend handover meeting with regional delivery officer"
                                  asp-for="@Model.AttendHandoverMeeting"
                                  name="attend-handover-meeting"
                                  id="transfer_task_handover_task_form_meeting"
                                  hint="Discuss any questions you have about the project in the meeting."
                                  add-margin=false />

            <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and return</button>
        </form>
    </div>
</div>