@page "/conversion-projects/{projectId}/tasks/stakeholder-kickoff"
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.Conversion.Tasks.StakeholderKickoff.ViewStakeholderKickoffTaskModel
@{
    var backlink = string.Format(RouteConstants.ConversionProjectTaskList, Model.ProjectId);
    var editlink = string.Format(RouteConstants.ConversionEditStakeholderKickoffTask, Model.ProjectId);

    // var stakeholderKickoff = Model.Project.StakeholderKickoff;
}

@section BeforeMain {
    <a href=@backlink class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @* @Model.Project.SchoolName *@
            </span>
            External stakeholder kick-off
        </h1>
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Send introductory emails
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @stakeholderKickoff.SendIntroEmails *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="Send introductory emails">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Check the local authority proforma
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @stakeholderKickoff.LocalAuthorityProforma *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="Check the local authority proforma">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Check the local authority is able to convert the school by the provisional conversion date
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @stakeholderKickoff.LocalAuthorityAbleToConvert *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="Check the local authority is able to convert the school by the provisional conversion date">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>

            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Send invites to the kick-off meeting or call
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @stakeholderKickoff.SendInvites *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="Send invites to the kick-off meeting or call">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Host the kick-off meeting or call
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @stakeholderKickoff.HostMeetingOrCall *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="Host the kick-off meeting or call">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Conversion date
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @stakeholderKickoff.StakeholderKickOffConversionDate.ToDateString() *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="Check the local authority is able to convert the school by the provisional conversion date">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
        </govuk-summary-list>
    </div>
</div>
