@using Dfe.Complete.Constants
@using Dfe.Complete.TagHelpers
@model TrustDetailsViewModel
@{
  //  var trustDetails = Model.TrustDetails;

    var trustGiasLink = new LinkSummaryItem()
            {
          //      Label = trustDetails.Name,
         //       Link = string.Format(ExternalSiteConstants.GiasTrust, trustDetails.UkPrn),
                LinkText = "View the trust information in GIAS"
            };

    var trustSharePointLink = new LinkSummaryItem()
            {
      //          Link = trustDetails.SharePointLink,
                LinkText = "View the trust SharePoint folder"
            };

    LinkSummaryItem trustcompaniesHouse = null;

    // if (!string.IsNullOrEmpty(trustDetails.CompaniesHouseNumber))
    // {
    //     trustcompaniesHouse = new LinkSummaryItem()
    //             {
    //                 Label = trustDetails.CompaniesHouseNumber,
    //                 Link = string.Format(ExternalSiteConstants.CompaniesHouseByCompany, trustDetails.CompaniesHouseNumber),
    //                 LinkText = "View the Companies House information"
    //             };
    // }
}

<div id="@Model.Id" class="project-information-block">
    <h3 class="govuk-heading-m" data-testid="title">@Model.Label</h3>
    <govuk-summary-list>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Name
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @trustGiasLink
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
      @*   <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                UKPRN (UK provider reference number)
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @trustDetails.UkPrn
            </govuk-summary-list-row-value>
            <govuk-summary-list-row-actions>
                <govuk-summary-list-row-action href="@Model.Href" visually-hidden-text="UKPRN (UK provider reference number)">Change</govuk-summary-list-row-action>
            </govuk-summary-list-row-actions>
        </govuk-summary-list-row>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Group ID (identifier)
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @trustDetails.GroupId
            </govuk-summary-list-row-value>
        </govuk-summary-list-row> *@
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Companies house number
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @trustcompaniesHouse
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
@*         <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                Address
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @trustDetails.Address
            </govuk-summary-list-row-value>
        </govuk-summary-list-row> *@
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>
                SharePoint folder
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @trustSharePointLink
            </govuk-summary-list-row-value>
            <govuk-summary-list-row-actions>
                <govuk-summary-list-row-action href="@Model.Href" visually-hidden-text="SharePoint folder">Change</govuk-summary-list-row-action>
            </govuk-summary-list-row-actions>
        </govuk-summary-list-row>
    </govuk-summary-list>
</div>