@using Dfe.Complete.API.Contracts.Project
@using Dfe.Complete.Constants
@using Dfe.Complete.TagHelpers
@model TrustDetailsViewModel
@{
    var trustDetails = Model.TrustDetails;

    var trustGiasLink = new LinkSummaryItem()
            {
                Label = trustDetails.Name,
                Link = string.Format(ExternalSiteConstants.GiasTrust, trustDetails.UkPrn),
                LinkText = "View the trust information in GIAS"
            };

    var trustSharePointLink = new LinkSummaryItem()
            {
                Link = trustDetails.SharePointLink,
                LinkText = "View the trust SharePoint folder"
            };

    var trustcompaniesHouse = new LinkSummaryItem()
            {
                Label = trustDetails.CompaniesHouseNumber,
                Link = string.Format(ExternalSiteConstants.CompaniesHouseByCompany, trustDetails.CompaniesHouseNumber),
                LinkText = "View the Companies House information"
            };
}

<div id="@Model.Id" class="project-information-block">
    <h3 class="govuk-heading-m">@Model.Label</h3>

    <govuk-summary-list>
        <govuk-summary-item label="Name" asp-for="@trustGiasLink" />
        <govuk-summary-item label="UKPRN (UK provider reference number)" asp-for="@trustDetails.UkPrn" />
        <govuk-summary-item label="Group ID (identifier)" asp-for="@trustDetails.GroupId" />
        <govuk-summary-item label="Companies house number" asp-for="@trustcompaniesHouse" />
        <govuk-summary-item label="Address" asp-for="@trustDetails.Address" />
        <govuk-summary-item label="SharePoint folder" asp-for="@trustSharePointLink" />
    </govuk-summary-list>
</div>