@page "/projects/all/in-progress/all"
@using Dfe.Complete.Constants;
@model Dfe.Complete.Pages.Projects.List.ProjectsInProgressModel
@{
    ViewData["Title"] = "All projects in progress";
}

<div class="govuk-grid-column-full">
    <table class="govuk-table" name="projects_table" aria-label="Projects table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">School or academy</th>
                <th class="govuk-table__header" scope="col">URN</th>
                <th class="govuk-table__header" scope="col">Conversion or transfer date</th>
                <th class="govuk-table__header" scope="col">Project type</th>
                <th class="govuk-table__header" scope="col">Form a MAT project?</th>
                <th class="govuk-table__header" scope="col">Assigned to</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @* @foreach(var project in Model.Projects) *@
            @* { *@
            @*     string projectSummaryUrl; *@
            @* *@
            @*     if (project.ProjectType == ProjectType.Conversion) *@
            @*     { *@
            @*         projectSummaryUrl = string.Format(RouteConstants.ConversionProjectTaskList, project.Id); *@
            @*     } *@
            @*     else *@
            @*     { *@
            @*         projectSummaryUrl = string.Format(RouteConstants.TransferProjectTaskList, project.Id); *@
            @*     } *@
            @* *@
            @*     <tr class="govuk-table__row"> *@
            @*         <td class="govuk-table__header govuk-table__cell"> *@
            @*             <a class="govuk-link" href="@projectSummaryUrl">@project.SchoolName</a> *@
            @*         </td> *@
            @*         <td class="govuk-table__cell">@project.Urn</td> *@
            @*         <td class="govuk-table__cell">@project.ConversionOrTransferDate.ToDateMonthYearString()</td> *@
            @*         <td class="govuk-table__cell">@project.ProjectType.ToString()</td> *@
            @*         <td class="govuk-table__cell">@project.IsFormAMatProject.ToYesNoString()</td> *@
            @*         <td class="govuk-table__cell">@project.AssignedTo</td> *@
            @*     </tr> *@
            @* } *@
        </tbody>
    </table>

    <partial name="./Pagination/_Pagination" model="Model.Pagination" />

</div>