@page "/projects/all/in-progress/all"
@model Dfe.Complete.Pages.Projects.All.ProjectsInProgressModel
@{
    ViewData["Title"] = "All projects in progress";
}

<div class="govuk-grid-column-full">
    <table class="govuk-table" name="projects_table" aria-label="Projects table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">School or academy</th>
                <th class="govuk-table__header" scope="col">URN</th>
                <th class="govuk-table__header" scope="col">Conversion or transfer date</th>
                <th class="govuk-table__header" scope="col">Project type</th>
                <th class="govuk-table__header" scope="col">Form a MAT project?</th>
                <th class="govuk-table__header" scope="col">Assigned to</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @foreach(var project in Model.Projects)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__header govuk-table__cell">
                        <a href="/projects/@project.Id">Not set</a>
                    </td>
                    <td class="govuk-table__cell">@project.Urn</td>
                    <td class="govuk-table__cell">@project.ConversionOrTransferDate.ToDateMonthYearString()</td>
                    <td class="govuk-table__cell">@project.ProjectType.ToString()</td>
                    <td class="govuk-table__cell">@project.IsFormAMatProject.ToYesNoString()</td>
                    <td class="govuk-table__cell">@project.AssignedTo</td>
                </tr>
            }
        </tbody>
    </table>

    <nav role="navigation" aria-label="results" class="govuk-pagination"><ul class="govuk-pagination__list"><li class="govuk-pagination__item govuk-pagination__item--current" aria-label="Page 1"><a href="/projects/all/in-progress/all?page=1" class="govuk-link govuk-pagination__link">1</a></li><li class="govuk-pagination__item" aria-label="Page 2"><a href="/projects/all/in-progress/all?page=2" class="govuk-link govuk-pagination__link">2</a></li><li class="govuk-pagination__item" aria-label="Page 3"><a href="/projects/all/in-progress/all?page=3" class="govuk-link govuk-pagination__link">3</a></li></ul><div class="govuk-pagination__next"><a href="/projects/all/in-progress/all?page=2" class="govuk-link govuk-pagination__link" rel="next"><span class="govuk-pagination__link-title govuk-pagination__link-title--decorated">Next<span class="govuk-visually-hidden"> page</span></span><svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" focusable="false" viewBox="0 0 15 13" aria-hidden="true"><path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path></svg></a></div></nav>

</div>