@page "/transfer-projects/{projectId}/information"
@using Dfe.Complete.API.Contracts.Project
@using Dfe.Complete.Constants
@using Dfe.Complete.TagHelpers
@model Dfe.Complete.Pages.Projects.Transfer.AboutTransferProjectModel
@{
    var projectDetails = Model.Project.ProjectDetails;
    var reasonForTransfer = Model.Project.ReasonForTheTransfer;
    var advisoryBoardDetails = Model.Project.AdvisoryBoardDetails;
    var schoolDetails = Model.Project.SchoolDetails;
    var incomingTrustDetails = Model.Project.IncomingTrustDetails;
    var outgoingTrustDetails = Model.Project.OutgoingTrustDetails;

    var schoolGiasLink = new LinkSummaryItem()
            {
                Label = schoolDetails.Name,
                Link = string.Format(ExternalSiteConstants.GiasEstablishment, schoolDetails.Urn),
                LinkText = "View the school's information in GIAS"
            };

    var schoolSharePointLink = new LinkSummaryItem()
            {
                Link = schoolDetails.SharePointLink,
                LinkText = "View the academy SharePoint folder"
            };

    var editLink = string.Format(RouteConstants.EditAboutTransferProject, Model.ProjectId);
}

<partial name="_ProjectSummary" model="@projectDetails" />

<govuk-project-tabs project-id="@Model.ProjectId" project-type="@ProjectType.Transfer" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <nav>
            <h2 class="govuk-heading-m">Jump to section</h2>
            <ul class="list-style-none govuk-!-padding-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#projectDetails">Project details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#advisoryBoardDetails">Advisory board details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#academyDetails">Academy details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#incomingTrustDetails">Incoming trust details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#outgoingTrustDetails">Outgoing trust details</a>
                </li>

            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-three-quarters" id="projectInformationList">
        <h2 class="govuk-heading-l">About the project</h2>

        <div id="projectDetails" class="project-information-block">
            <h3 class="govuk-heading-m">Project details</h3>
            <govuk-summary-list>
                <govuk-summary-item label="Type" asp-for="@projectDetails.ProjectType" />
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">Transfer date</dt>
                    <dd class="govuk-summary-list__value">
                        @projectDetails.Date.ToDateString()
                        @if (projectDetails.IsDateProvisional == true)
                        {
                            <strong class="govuk-tag govuk-tag--grey">provisional</strong>
                        }

                    </dd>
                </div>
                <govuk-summary-item label="Local authority" asp-for="@projectDetails.LocalAuthority" />
                <govuk-summary-item label="Diocese" asp-for="@schoolDetails.Diocese" />
                <govuk-summary-item label="Region" asp-for="@projectDetails.Region" />
            </govuk-summary-list>
        </div>


        <div id="reasonsFor" class="project-information-block">
            <h3 class="govuk-heading-m">Reasons for the transfer</h3>

            <govuk-summary-list>
                <govuk-summary-item label="Is this transfer due to 2RI?" asp-for="@reasonForTransfer.IsDueTo2RI" href="@editLink" />
                <govuk-summary-item label="Is this transfer due to an inadequate Ofsted rating?" asp-for="@reasonForTransfer.IsDueToOfstedRating" href="@editLink" />
                <govuk-summary-item label="Is this transfer due to financial, safeguarding or governance issues?" asp-for="@reasonForTransfer.IsDueToIssues" href="@editLink" />

            </govuk-summary-list>
        </div>


        <div id="advisoryBoardDetails" class="project-information-block">
            <h3 class="govuk-heading-m">Advisory board details</h3>

            <govuk-summary-list>
                <govuk-summary-item label="Date of advisory board" asp-for="@advisoryBoardDetails.Date" href="@editLink" />
                <govuk-summary-item label="Conditions from advisory board" asp-for="@advisoryBoardDetails.Conditions" href="@editLink" />
            </govuk-summary-list>

        </div>


        <div id="academyDetails" class="project-information-block">
            <h3 class="govuk-heading-m">Academy details</h3>
            <govuk-summary-list>
                <govuk-summary-item label="Name" asp-for="@schoolGiasLink" />
                <govuk-summary-item label="Academy URN (unique reference number)" asp-for="@schoolDetails.Urn" />
                <govuk-summary-item label="Type" asp-for="@schoolDetails.Type" />
                <govuk-summary-item label="Age range" asp-for="@schoolDetails.AgeRange" />
                <govuk-summary-item label="Phase" asp-for="@schoolDetails.Phase" />
                <govuk-summary-item label="SharePoint folder" asp-for="@schoolSharePointLink" href="@editLink" />
            </govuk-summary-list>
        </div>

        <govuk-trust-details asp-for="@Model.Project.IncomingTrustDetails" id="incomingTrustDetails" label="Incoming trust details" href="@editLink" />
        <govuk-trust-details asp-for="@Model.Project.OutgoingTrustDetails" id="outgoingTrustDetails" label="Outgoing trust details" href="@editLink" />

    </div>
</div>