@page "/conversion-projects/{projectId}/information"
@using Dfe.Complete.Constants
@using Dfe.Complete.TagHelpers
@model Dfe.Complete.Pages.Projects.Conversion.AboutConversionProjectModel
@{
    // var projectDetails = Model.Project.ProjectDetails;
    // var reasonForConversion = Model.Project.ReasonForTheConversion;
    // var advisoryBoardDetails = Model.Project.AdvisoryBoardDetails;
    // var schoolDetails = Model.Project.SchoolDetails;
    // var incomingTrustDetails = Model.Project.IncomingTrustDetails;
    //
    // var schoolGiasLink = new LinkSummaryItem()
    //         {
    //             Label = schoolDetails.Name,
    //             Link = string.Format(ExternalSiteConstants.GiasEstablishment, schoolDetails.Urn),
    //             LinkText = "View the school's information in GIAS"
    //         };
    //
    // var schoolSharePointLink = new LinkSummaryItem()
    //         {
    //             Link = schoolDetails.SharePointLink,
    //             LinkText = "View the academy SharePoint folder"
    //         };
}

@*TODO: add below back with model*@
@* <partial name="_ProjectSummary" model="" /> *@

<govuk-project-tabs project-id="@Model.ProjectId" project-type="" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <nav>
            <h2 class="govuk-heading-m">Jump to section</h2>
            <ul class="list-style-none govuk-!-padding-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#projectDetails">Project details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#advisoryBoardDetails">Advisory board details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#academyDetails">Academy details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#incomingTrustDetails">Incoming trust details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#outgoingTrustDetails">Outgoing trust details</a>
                </li>

            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-three-quarters" id="projectInformationList">
        <h2 class="govuk-heading-l">About the project</h2>

        <div id="projectDetails" class="project-information-block">
            <h3 class="govuk-heading-m">Project details</h3>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Type
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @projectDetails.ProjectType *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Conversion date
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @projectDetails.Date.ToDateString() *@
                        @* @if (projectDetails.IsDateProvisional == true) *@
                        @* { *@
                        @*     <strong class="govuk-tag govuk-tag--grey">provisional</strong> *@
                        @* } *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Local authority
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @projectDetails.LocalAuthority *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Diocese
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @schoolDetails.Diocese *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Region
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @projectDetails.Region *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
        </div>

        <div id="reasonsFor" class="project-information-block">
            <h3 class="govuk-heading-m">Reasons for the conversion</h3>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Has a directive academy order been issued?
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @reasonForConversion.HasAcademyOrderBeenIssued *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Is this transfer due to 2RI?
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @reasonForConversion.IsDueTo2RI *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
        </div>


        <div id="advisoryBoardDetails" class="project-information-block">
            <h3 class="govuk-heading-m">Advisory board details</h3>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Date of advisory board
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @advisoryBoardDetails.Date *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Conditions from advisory board
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @advisoryBoardDetails.Conditions *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
        </div>


        <div id="academyDetails" class="project-information-block">
            <h3 class="govuk-heading-m">School details</h3>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Name
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @schoolGiasLink *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Academy URN (unique reference number)
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @schoolDetails.Urn *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Type
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @schoolDetails.Type *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Age range
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @schoolDetails.AgeRange *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Phase
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @schoolDetails.Phase *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Address
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @schoolDetails.Address *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        SharePoint folder
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @* @schoolSharePointLink *@
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
        </div>

        @* <govuk-trust-details asp-for="@Model.Project.IncomingTrustDetails" id="incomingTrustDetails" label="Incoming trust details" /> *@

    </div>
</div>