@page "/projects/conversion-projects/new"
@model Dfe.Complete.Pages.Projects.Conversion.CreateNewProjectModel
@{
    ViewData["Title"] = "Add a conversion";

    var invalidEntries = ViewContext.ModelState.Where(e => e.Value.Errors.Any()).Select(ms => new
    {
        Key = ms.Key,
        Error = ms.Value.Errors.FirstOrDefault().ErrorMessage
    });

    var urnField = "URN";
    var ukprnField = "UKPRN";
    var advisoryBoardDateField = "AdvisoryBoardDate";
    var provisionalConversionDateField = "ProvisionalConversionDate";
    var schoolSharePointLinkField = "SchoolSharePointLink";
    var incomingTrustSharePointLinkField = "IncomingTrustSharePointLink";
    var handingToRSCField = "IsHandingToRCS";
    var directiveAcademyOrderField = "DirectiveAcademyOrder";
    var isDueTo2RIField = "IsDueTo2RI";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Add a conversion</h2>

        <p class="govuk-body">Enter information about the school, trust and the advisory board decision.</p>

        <p class="govuk-body">This will create a new conversion project.</p>

        @{

            <form method="post">

                <govuk-input id="@urnField" name="@urnField" input-class="govuk-input--width-10" asp-for="@Model.URN">
                    <govuk-input-label class="govuk-label--m">School URN (Unique Reference Number)</govuk-input-label>
                    <govuk-input-hint>This is the URN of the existing school which is converting to an academy. A URN is a 6-digit number. You can find it in the advisory board template.</govuk-input-hint>
                    @if (invalidEntries.Any(e => e.Key == urnField))
                    {
                        <govuk-input-error-message>@(invalidEntries.FirstOrDefault(e => e.Key == urnField).Error)</govuk-input-error-message>
                    }
                </govuk-input>

                <govuk-input name="@ukprnField" input-class="govuk-input--width-10" asp-for="@Model.UKPRN">
                    <govuk-input-label class="govuk-label--m">Incoming trust UKPRN (UK Provider Reference Number)</govuk-input-label>
                    <govuk-input-hint>
                        <p>
                            A UKPRN is an 8-digit number that always starts with a 1.
                        </p>
                        <p>
                            <a href="https://www.get-information-schools.service.gov.uk/Search?SelectedTab=Groups" target="_blank">
                                Search GIAS to find the incoming trust's UKPRN (opens in a new tab).
                            </a>
                        </p>
                    </govuk-input-hint>
                    @if (invalidEntries.Any(e => e.Key == ukprnField))
                    {
                        <govuk-input-error-message>@(invalidEntries.FirstOrDefault(e => e.Key == ukprnField).Error)</govuk-input-error-message>
                    }
                </govuk-input>

                <govuk-input name="GroupReferenceNumber" input-class="govuk-input--width-10" asp-for="@Model.GroupReferenceNumber">
                    <govuk-input-label class="govuk-label--m">Group reference number</govuk-input-label>
                    <govuk-input-hint>
                        <p>
                            If this school is converting as part of a group, enter the group reference number.
                        </p>
                        <p>
                            The reference number begins with the letters GRP and contains up to 8 numbers, like GRP_XXXXXXXX. You can find this on the group’s page in Prepare conversions and transfers.
                        </p>
                    </govuk-input-hint>
                </govuk-input>

                <govuk-date-input id="@advisoryBoardDateField" name-prefix="@advisoryBoardDateField" asp-for="@Model.AdvisoryBoardDate">
                    <govuk-date-input-fieldset>
                        <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--m">
                            Date of advisory board
                        </govuk-date-input-fieldset-legend>
                        <govuk-date-input-hint>
                            You can find this in the advisory board template.
                        </govuk-date-input-hint>

                        @if (invalidEntries.Any(e => e.Key == advisoryBoardDateField))
                        {
                            <govuk-date-input-error-message>
                                @(invalidEntries.FirstOrDefault(e => e.Key == advisoryBoardDateField).Error)
                            </govuk-date-input-error-message>
                        }
                    
                    </govuk-date-input-fieldset>
                </govuk-date-input>

                <govuk-textarea name="AdvisoryBoardConditions" asp-for="@Model.AdvisoryBoardConditions">
                    <govuk-textarea-label class="govuk-label--m">
                        Advisory board conditions
                    </govuk-textarea-label>
                </govuk-textarea>

                <govuk-date-input id="@provisionalConversionDateField" name-prefix="@provisionalConversionDateField" asp-for="@Model.ProvisionalConversionDate">
                    <govuk-date-input-fieldset>
                        <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--m">
                            Provisional conversion date
                        </govuk-date-input-fieldset-legend>
                        <govuk-date-input-hint>
                            You can find this in the advisory board template.
                        </govuk-date-input-hint>
                        @if (invalidEntries.Any(e => e.Key == provisionalConversionDateField))
                        {
                            <govuk-date-input-error-message>
                                @(invalidEntries.FirstOrDefault(e => e.Key == provisionalConversionDateField).Error)
                            </govuk-date-input-error-message>
                        }
                    </govuk-date-input-fieldset>
                </govuk-date-input>

                <govuk-input name="@schoolSharePointLinkField" asp-for="@Model.SchoolSharePointLink">
                    <govuk-input-label class="govuk-label--m">School or academy SharePoint link</govuk-input-label>
                    <govuk-input-hint>
                        <p>
                            If the school applied to convert, you must save the application form in the Schools' SharePoint folder.
                        </p>
                        <p>
                            You must also save the academy order and advisory board template. Do this whether the school applied to convert or not.
                        </p>
                    </govuk-input-hint>
                    @if (invalidEntries.Any(e => e.Key == schoolSharePointLinkField))
                    {
                        <govuk-input-error-message>@(invalidEntries.FirstOrDefault(e => e.Key == schoolSharePointLinkField).Error)</govuk-input-error-message>
                    }
                </govuk-input>

                <govuk-input name="@incomingTrustSharePointLinkField" asp-for="@Model.IncomingTrustSharePointLink">
                    <govuk-input-label class="govuk-label--m">Incoming trust SharePoint link</govuk-input-label>
                    <govuk-input-hint>Provide a link to the SharePoint folder for the incoming trust. This is where you save all the relevant trust documents.</govuk-input-hint>
                    @if (invalidEntries.Any(e => e.Key == incomingTrustSharePointLinkField))
                    {
                        <govuk-input-error-message>@(invalidEntries.FirstOrDefault(e => e.Key == incomingTrustSharePointLinkField).Error)</govuk-input-error-message>
                    }
                </govuk-input>

                <govuk-radios name="@handingToRSCField" asp-for="@Model.IsHandingToRCS">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                            Are you handing this project over to RCS (Regional Casework Services)?
                        </govuk-radios-fieldset-legend>

                        @if (invalidEntries.Any(e => e.Key == handingToRSCField))
                        {
                            <govuk-radios-error-message>
                                @(invalidEntries.FirstOrDefault(e => e.Key == handingToRSCField).Error)
                            </govuk-radios-error-message>
                        }

                        <govuk-radios-item value="true">Yes</govuk-radios-item>
                        <govuk-radios-item value="false">No</govuk-radios-item>

                        
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-textarea name="HandoverComments" asp-for="@Model.HandoverComments">
                    <govuk-textarea-label class="govuk-label--m">
                        Handover comments
                    </govuk-textarea-label>

                    <govuk-textarea-hint>
                        <p>
                            You must describe how the project has progressed so far and highlight any issues or concerns.
                        </p>

                        <p>Include information about:</p>

                        <ul>
                            <li>whether the provisional conversion date has been discussed with the local authority</li>
                            <li>if the local authority proforma has been received or requested</li>
                            <li>who the Schools Financial Support and Oversight lead is</li>
                            <li>if the introduction and next steps email has been sent to external stakeholders</li>
                        </ul>
                    </govuk-textarea-hint>
                </govuk-textarea>

                <govuk-radios name="@directiveAcademyOrderField" asp-for="@Model.DirectiveAcademyOrder">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                            What kind of academy order has been used?
                        </govuk-radios-fieldset-legend>

                        @if (invalidEntries.Any(e => e.Key == directiveAcademyOrderField))
                        {
                            <govuk-radios-error-message>
                                @(invalidEntries.FirstOrDefault(e => e.Key == directiveAcademyOrderField).Error)
                            </govuk-radios-error-message>
                        }

                        @* This value should be enums *@
                        <govuk-radios-item value="true">Directive academy order</govuk-radios-item>
                        <govuk-radios-item value="false">Academy order</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-radios name="@isDueTo2RIField" asp-for="@Model.IsDueTo2RI">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                            Is this conversion due to intervention following 2RI?
                        </govuk-radios-fieldset-legend>

                        <govuk-radios-hint>
                            A 2RI conversion is when a local authority maintained school becomes an academy after getting at least 2 overall Requires Improvement ratings from Ofsted.
                        </govuk-radios-hint>

                        @if (invalidEntries.Any(e => e.Key == isDueTo2RIField))
                        {
                            <govuk-radios-error-message>
                                @(invalidEntries.FirstOrDefault(e => e.Key == isDueTo2RIField).Error)
                            </govuk-radios-error-message>
                        }

                        <govuk-radios-item value="true">Yes</govuk-radios-item>
                        <govuk-radios-item value="false">No</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>

                <govuk-button type="submit">Continue</govuk-button>
            </form>
        }
    </div>
</div>
