@page "/conversion-projects/{projectId}/tasks/handover"
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.Conversion.Tasks.HandoverWithDeliveryOfficer.ViewHandoverWithDeliveryOfficerTaskModel
@{
    var backlink = string.Format(RouteConstants.ConversionProjectTaskList, Model.ProjectId);
    var editlink = string.Format(RouteConstants.ConversionEditHandoverWithDeliveryOfficerTask, Model.ProjectId);
    var taskList = string.Format(RouteConstants.ConversionProjectTaskList, Model.ProjectId);

    // var handoverWithDeliveryOfficer = Model.Project.HandoverWithDeliveryOfficer;
}

@section BeforeMain {
    <a href=@backlink class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-testid="title">
            <span class="govuk-caption-l" data-testid="school-name">
                @* @Model.Project.SchoolName *@
            </span>
            Handover with regional delivery officer
        </h1>
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Not applicable
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @handoverWithDeliveryOfficer.NotApplicable *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="name">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Review the project information and carry out research
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @handoverWithDeliveryOfficer.ReviewProjectInformation *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="Review the project information and carry out research">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Make notes and write questions to ask the regional delivery officer
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @handoverWithDeliveryOfficer.MakeNotes *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="Make notes and write questions to ask the regional delivery officer">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Attend handover meeting with regional delivery officer
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @* @handoverWithDeliveryOfficer.AttendHandoverMeeting *@
                </govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@editlink" visually-hidden-text="Attend handover meeting with regional delivery officer">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
        </govuk-summary-list>
    </div>
</div>
